<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="CppUTest Action Set"
            visible="true"
            id="org.cpputest.plugin.actionSet">
         <menu
               label="CppUTest"
               id="cppUTestMenu">
            <separator
                  name="cppUTestGroup">
            </separator>
         </menu>
         <action
               label="Copy Empty Stub To Clipboard"
               icon="icons/sample.gif"
               class="org.cpputest.plugin.actions.CppUTestActionCopyEmptyStubToClipboard"
               menubarPath="cppUTestMenu/cppUTestGroup"
               id="org.cpputest.plugin.actions.CopyEmptyStubToClipboard">
         </action>
         <action
               label="Copy Default Mock To Clipboard"
               class="org.cpputest.plugin.actions.CppUTestActionCopyDefaultMockToClipboard"
               menubarPath="cppUTestMenu/cppUTestGroup"
               id="org.cpputest.plugin.actions.CopyDefaultMockToClipboard">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.cpputest.plugin.editorContribution"
            objectClass="org.eclipse.ui.IEditorInput"
            nameFilter="*.*">
         <menu
               id="org.cpputest.plugin.editorContextMenu"
               label="CppUTest"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.cpputest.plugin.actions.CppUTestActionCopyEmptyStubToClipboard"
               enablesFor="1"
               id="org.cpputest.plugin.actions.CopyEmptyStubToClipboard"
               label="Copy Empty Stub To Clipboard"
               menubarPath="org.cpputest.plugin.editorContextMenu/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
